<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="{{s}};URL={{u}}">
    <title>Loading…</title>
    <link rel="stylesheet" href="/static/loading.css">
</head>
<body>
    <div class="newton-cradle">
        <div class="newton-cradle_dot"></div>
        <div class="newton-cradle_dot"></div>
        <div class="newton-cradle_dot"></div>
        <div class="newton-cradle_dot"></div>
    </div>
</body>
</html>