<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user_name}}</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body style="background-image: url('//api.yixiangzhilv.com/utils/wallpaper');">
    <h1>恭喜{{user_name}}登陆成功</h1>
</body>
</html>